<div style="text-align:center">
  <h1>
    Hello - do you want to fetch some data?
  </h1>
</div>
<div class="app-container">
  <div class="buttons-container">
    <button (click)="fetchLessData()" class="fetch-less-data-button">Fetch 1k data</button>
    <button (click)="fetchMoreData()" class="fetch-more-data-button">Fetch 10k data</button>
  </div>

  <div class="data-container">
    <ul class="fetch-less-rows">
       <li *ngFor="let data of lessDataLoaded$ | async">{{ data.index }}</li>
    </ul>
    <ul class="fetch-more-rows">
      <li *ngFor="let data of moreDataLoaded$ | async">{{ data.index }}</li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
