.app-container {
    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;

        .fetch-less-data-button, .fetch-more-data-button {
            width: 250px;
            height: 50px;
            font-size: 24px;
            background-color: #fff;
            color: #32485c;
            outline: none;
            border-radius: 8px;
            border: 2px solid #32485c;
        }

        .fetch-less-data-button:hover, .fetch-more-data-button:hover {
            background-color: #32485c;
            cursor: pointer;
            border: 2px solid #fff;
            color: #fff;
        }
    }

    .data-container {
      border-top: 2px solid #32485c;
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          color: #32485c;
          line-height: 24px;
          font-size: 18px;
        }
    }
}


